
#myBtn {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Fixed/sticky position */
	bottom: 20px;
	/* Place the button at the bottom of the page */
	right: 30px;
	/* Place the button 30px from the right */
	z-index: 99;
	/* Make sure it does not overlap */
	border: none;
	/* Remove borders */
	outline: none;
	/* Remove outline */
	background-color: red;
	/* Set a background color */
	color: white;
	/* Text color */
	cursor: pointer;
	/* Add a mouse pointer on hover */
	padding: 15px;
	/* Some padding */
	border-radius: 10px;
	/* Rounded corners */
	font-size: 18px;
	/* Increase font size */
}

#myBtn:hover {
	background-color: #555;
	/* Add a dark-grey background on hover */
}
html {
	height: 100%;
}

body {
	margin: 0;
}

.bg {
	animation: slide 3s ease-in-out infinite alternate;
	background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
	bottom: 0;
	left: -50%;
	opacity: .5;
	position: fixed;
	right: -50%;
	top: 0;
	z-index: -1;
}

.bg2 {
	animation-direction: alternate-reverse;
	animation-duration: 4s;
}

.bg3 {
	animation-duration: 5s;
}

.content {
	background-color: rgba(255, 255, 255, .8);
	border-radius: .25em;
	box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
	box-sizing: border-box;
	left: 50%;
	padding: 10vmin;
	position: fixed;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	font-family: monospace;
}

@keyframes slide {
	0% {
		transform: translateX(-25%);
	}

	100% {
		transform: translateX(25%);
	}
}
/* main */
.main {
	font-family: Montserrat;
	display: flex;
	flex-direction: row-reverse;
	width: 1200px;
	margin: 40px auto;
	background: #ffffff;
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);

}
/* main content */
.main-content {
	padding-top: 120px;
	height: 1350px;
	width: 500px;
	padding-right: 195px;
}
.devoloper {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	margin-bottom: 20px;
}
.name {
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 55px;
	color: #000000;
	margin-bottom: 25px;
}
.text {
	width: 400px;
	height: 120px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
	margin-bottom: 40px;
}
.project {
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
	margin-bottom: 10px;
}
.href2 {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}
.group {
	margin-left: 8px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
	margin-bottom: 40px;
}
.experience {
	margin-top: 30px;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 10px;
}
.text3 {
	margin-left: -20px;
	margin-bottom: 20px;
	margin-top: 0px;
	color: #595959;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	width: 509px;
	height: 120px;
}
.freelance {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	margin-bottom: 10px;
}
.format {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #fb6d3a;
}
.date {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #a8a8a8;
	margin-bottom: 6px;
}
.enginer {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}
.education {
	padding-bottom: 100px;
}
/* Sidebar */

.sidebar {
	margin-left: -40px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 88px;
	width: 370px;
	height: auto;
	background: #1e2939;
}
/* Photo */
.img {
	margin-top: 40px;
	width: 370px;
	height: 354px;
	left: 40px;
	top: 80px;
}
/* Contact */

.style {
	margin-top: 51px;
	margin-bottom: 0px;
	margin-left: 40px;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #ffffff;

}
.E_C_contacts{
	margin-left: 0px;
	margin-right: 10px;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
}
.style2 {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 40px;	
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #ffffff;}
.style3 {
	margin-top: 47px;
	margin-bottom: 0px;
	margin-left: 40px;	
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #ffffff;
	
}
.href {
	margin-left: 5px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;	
	opacity: 0.5;
}
.skills_red {
	margin-left: 15px;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 15px;
	color: #fb6d3a;
}
.skills {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
}

.pages{
	margin-left: 15px;
	margin-top: 350px;
	background: #337c66;
	height: auto;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: absolute;
	width: 140px;
	margin-bottom: 0px;
}

.bg_page_list{
	
	background-color: #ffffff10;
	display: flex;
	flex-direction: column;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 10px;
}

.page {
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: #ffffff;
	
	
	
	}
.page:after{
	
	position: absolute;
	content: "";
	
}
.page:hover{
	cursor: pointer;
	background-color: #16a53a;
	border-radius: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	font-size: 17px;
}
.page:hover::after{
	width: 100%;
	left: 0;

}




.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-radius: 10px;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 35px;
}

.topnav a:hover {
	background-color: rgb(171, 204, 81);
	color: rgb(32, 26, 26);
}

.active {
	width: 100px;
	padding: 10px;
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	margin-left: -10px;
	background-color: #fb6d3a;
	border: 1px solid #000000;
	border-radius: 10px;
	font-style: normal;
	font-weight: bold;

	color: #ffffff;

}

.topnav .icon {
	display: none;
}

@media screen and (max-width: 1200px) {
	.topnav a:not(:first-child) {
		display: none;
	}

	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 1200px) {
	.topnav.responsive {
		position: relative;
	}

	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}
