.main_3page {
    font-family: Montserrat;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
    background: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);

}

.main-content_3page {
    padding-top: 120px;
    height: 1900px;
    width: 500px;
    padding-right: 195px;

}

.bg_page3_list {
    margin-top: 50px;
    background-color: #ffffff10;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
}
.main-block {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.house {
    width: 150px;
    height: 150px;
    background: coral;
    position: relative;
    left: 75px;
    top: 20px;
    z-index: 2;
}

.roof {
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 100px solid red;
    position: relative;
    left: 40px;
    top: -290px;
    z-index: 3;
}

.chimney {
    width: 20px;
    height: 60px;
    background: black;
    position: relative;
    z-index: 1;
    left: 90px;
    top: -220px;
}

.door {
    width: 60px;
    height: 90px;
    background: brown;
    position: relative;
    left: 150px;
    top: 210px;
    z-index: 5;
}

.window {
    width: 40px;
    height: 40px;
    background: cyan;
    position: relative;
    z-index: 4;
    left: 90px;
    top: 120px;
}
.main_block_task2 {
    width: 300px;
    height: 255px;
    z-index: 0;
    position: relative;
    background: #81ccc7;
    overflow: hidden;
    
}
.clouds {
    position: relative;
    z-index: 3;
    width: 180px;
    left: 120px;
    top: -4px;
    
}
.water {
    position: relative;
    top: 165px;
    z-index: 4;
}
.wooden-ship {
    position: relative;
    z-index: 2;
    width: 60px;
    top: 80px;
    left: 15px;
}
.world {
    position: relative;
    top: -90px;
    width: 300px;
    z-index: 1;
}
.foolwrap{
    height: auto;
    width: 300px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    padding: 10px 10px 15px 10px;
    margin-left: auto;
    margin-right: auto;
}
header{
    border: 1px solid black;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    
}
.wrap {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: auto;
    border: 1px solid black;
    padding: 5px 5px 10px 5px;

}
main {
    width: auto;
    border: 1px solid black;
    width: 55%;
    height: 100%;
    float: left;
    display: block;

}

.sidebar_task3 {
    width: 37%;
    border: 1px solid black;
    height: 100%;
    float: right;
    display: block;
}
footer{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: auto;
    border: 1px solid black;
}
.main_block_calculator{
    width: 560px;
    height: auto;
    background-color: #378354;
    border-radius: 5px;
    padding: 20px;
}
.calculator_one{
    display: block;
    float: left;
    border:3px solid #5d9c9e;
    border-radius: 7px;
    width: 250px;
    height: auto;
    overflow: hidden;
    background-color: #ffffff;
}
.head_calc {
    margin-top: 10px;
    height: 40px;
    width: auto;
    background-color: #5d9c9e;

}
.display{
    border:3px solid #5d9c9e;
    border-radius: 7px;
    width: 230px;
    height: 30px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    color: #5d9c9e;
    text-align: end;
    

}

.text_head_calc{
    padding: 8px;
    text-align: end;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.solar_panel{
    height: 25px;
    width: 70px;
    background-color: #5d9c9e;
    color: #378354;
    float: right;
    margin: 10px;
}
input[type=button] {
    width: 45px;
    height: 45px;
    margin: 6px;
    border: 3px solid #5d9c9e;
    border-radius: 7px;
    display: inline-block;
    color: #5d9c9e;
    transition: all 0.001s;
    cursor: pointer;
}

input[type=button]:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(255, 0, 0, 0.2);
    background-color: #5d9c9e;
    color: #c3dedf;
    border: 5px solid #c3dedf;
}

input[type=button]::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.01s;
}

input[type=button]:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.calculator_two{
    display: block;
    position: relative;
    left: 50px;
    border:3px solid #5d9c9e;
    border-radius: 7px;
    width: 250px;
    height: 382px;
    overflow: hidden;
    background-color: #ffffff;
}
.head_calc_two {
    position: relative;
    top: 0px;
    height: 40px;
    width: auto;
    background-color: #5d9c9e;

}
.text_head_calc_two {
    position: relative;
    top: 20%;
    left: 61%;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}
